<?xml version="1.0"?>
<robot name="control_snippet" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="add_gazebo_ros2_control" params="">
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so"/>
    </gazebo>

    <ros2_control name="GazeboSystem" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <!-- Bakhjul: styring (posisjon) -->
      <joint name="back_left_steer_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="back_right_steer_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <!-- Forhjul: drift (hastighet) -->
      <joint name="front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
